<h1 class="contents-title">ユーザのページ</h1>
<p>ようこそ<%= @user.name %>さん！</p>
<br>
<p>ユーザ登録情報</p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>pictureページへ</p>
<button>
  <%= link_to '作成', pictures_path %>
</button>
