<h1 class="contents-title">
  <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>　編集画面
</h1>

<%= render 'form', picture: @picture %>

<div class="btn btn-menu" role="button">
  <%= link_to 'Back', pictures_path %>
</div>
